<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Password Reset Successful</title>
        <style>
            body {
                margin: 0;
                padding: 20px;
                font-family: Arial, sans-serif;
                background-color: #f9f9f9;
                text-align: center;
            }
            .container {
                max-width: 600px;
                margin: 0 auto;
                background: #ffffff;
                padding: 20px;
                border-radius: 8px;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            }
            img {
                max-width: 250px;
                margin-bottom: 20px;
            }
            h1 {
                color: #333;
                margin-bottom: 10px;
            }
            p {
                color: #666;
                line-height: 1.6;
            }
            .password {
                font-weight: bold;
                color: #00a6a9;
                font-size: 50px;
            }
            a {
                display: inline-block;
                margin-top: 20px;
                padding: 10px 20px;
                text-decoration: none;
                color: #ffffff;
                background-color: #00a6a9;
                border-radius: 5px;
                font-size: 16px;
            }
            a:hover {
                background-color: #007c7c;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <img
                src="https://res.cloudinary.com/doityourself/image/upload/v1732509707/MeDi-Booker_igd5wf.png"
                alt="Logo Icon" />
            <h1>Đổi mật khẩu thành công</h1>
            <p>Bạn đã đổi mật khẩu thành công. Mật khẩu mới của bạn là:</p>
            <p class="password"><%= new_Password %></p>
            <p>Bạn nên đặt lại mật khẩu mới sau khi đăng nhập lại</p>
            <a href="">Đăng nhập ngay</a>
        </div>
    </body>
</html>
